body {
    background-color:rgb(175, 252, 255);
}
h1 {
    font-size: 45px;
    font-family: 'Otomanopee One', sans-serif;
}
h2 {
    font-size: 45px;
    font-family: 'Otomanopee One', sans-serif;
}
h3 {
    padding-top: 10px;
    font-size: 40px;
    font-family: 'Otomanopee One', sans-serif;
}
p {
    font-size: 30px;
    font-family: 'Lobster', cursive;
}
button {
    background-color: rgb(6, 240, 248);
    font-size: 20px;
}
